:root {
    --color-primary: #00BA9E;  /* Verde agua */
    --color-secondary: #33CBC0; /* Verde turquesa */
    --color-accent: #00BAB3;    /* Verde más intenso */
}

* {
    font-family: 'Big Shoulders';
    box-sizing: border-box;
}

.mainMenuContainer {
    display: none;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.generalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: auto;
    background-color: white;
}

.logoContainer {
    width: 150px;
}

.logoContainer img {
    width: 100%;
}

.menuContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 5px;
    background-color: #071d49;
    margin-top: 13px;
}

.menuContainer .smText {
    color: white;
    text-decoration: none;
}

.landingPageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainImageContainer {
    width: 100%;
}

.mainImageContainer img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainTextContainer,  
.menuMainTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
}

.locationTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: auto;
}

.franchiseTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 205px;
}

.franchiseTextContainer .xlgText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 165px;
    text-align: center;
    font-size: 33px;
    margin: 0;
}

.menuMainTextContainer .xlgText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 33px;
    margin: 0;
}

.locationTextContainer .xlgText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.mainTextContainer .xlgText {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 165px;
    text-align: center;
    font-size: 33px;
    margin: 0;
}

.ejemplo {
    font-size: 10px;
}

.locationMapContainer {
    width: 50px;
}

.newBegin, 
.sellFranchise, 
#sabores, 
#sucursales {
    color: #00BAB3;
    display: inline-block;
}

.franchiseContainer {
    display: flex;
    flex-direction: column;
}

.franchiseImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 573px;
}

.franchiseTextContainer .mainButton, 
.mosaicContainer .mainButton {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #00BAB3;
    font-size: 16px;
    color: white;
    border: solid;
}

.franchiseContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mosaicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 36px;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.mosaic img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menuTextContainer {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 33px;
}

.locationsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    padding: 20px 0 30px 0;
    background-color: #036859;
}

.locationsCarousel {
    display: grid;
    grid-template-areas: 
    'map1 map2 map3 map4 map5 ';
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow-x: auto;
}

.locationMapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.branchName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: white;
}

#locationText {
    color: white;
}

iframe {
    width: 100%;
    height: 100%;
}

footer {
    display: grid;
    grid-template-areas: 
    'menus redes'
    'menus developer';
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.menuFooterContainer {
    grid-area: menus;
    display: flex;
    flex-direction: column;
}



